[submodule "semantic-search-notebooks"]
	path = semantic-search-notebooks
	url = https://github.com/ahr9n/semantic-search-notebooks.git
[submodule "notebooks/semantic-search-notebooks"]
	path = notebooks/semantic-search-notebooks
	url = https://github.com/ahr9n/semantic-search-notebooks.git
