models/model.pkl
models/model.pkl.vectors.npy
models/full_grams_cbow_100_twitter.zip
models/full_grams_cbow_100_twitter.mdl
models/full_grams_cbow_100_twitter.mdl.wv.vectors.npy
models/full_grams_cbow_100_twitter.mdl.trainables.syn1neg.npy

src/models/__pycache__/*
src/__pycache__/*